aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
auth0-python
backoff
bcrypt
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
crewai
cryptography
decorator
Deprecated
distro
docstring_parser
durationpy
et_xmlfile
executing
fastapi
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
instructor
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpickle
jsonref
jsonschema
jsonschema-specifications
kubernetes
litellm
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mmh3
monotonic
mpmath
multidict
narwhals
networkx
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
pdfminer.six
pdfplumber
pillow
posthog
prompt_toolkit
propcache
protobuf
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pypdfium2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
pytz
pyvis
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
sklearn
scipy
shellingham
six
smmap
sniffio
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
tomli_w
tornado
tqdm
traitlets
typer
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
watchdog
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp
